<mgl-popup *ngIf="point" [feature]="point">
    <p *ngIf="point?.properties && crime_selected">Crime Type: {{point.properties?.['CrimeType']}}</p>
    <p *ngIf="point?.properties && crime_selected">Date ({{date_format}}): {{point.properties?.['ReportedDateAndTime']}}</p>
    <p *ngIf="point?.properties && crime_selected">Distance: {{point.properties?.['distance']}} meters</p>
    
    <p *ngIf="point?.properties && business_selected">Business Type: {{point.properties?.['Category']}}</p>
    <p *ngIf="point?.properties && business_selected">Business Name: {{point.properties?.['Name']}}</p>
    <p *ngIf="point?.properties && business_selected">Distance: {{point.properties?.['distance']}} meters</p>
</mgl-popup>