.close-button {
  float: right;
  top: -23px;
  right: -23px;
}

ngb-rating {
  font-size: 50px;
  margin-top: -15px;
  text-align: center;
  padding-left: 16px;
}

mat-radio-button {
  padding-left: 16px;
  margin-top: 12px;
}
