<!-- <h1><b>Crib</b></h1> -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <br />
            <div  class="d-flex justify-content-center">
                <h1><b>Find your neighbourhood in</b> {{selected_city}}</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <app-city-block *ngFor="let city of cities" (mouseout)="hoverExit(city)" (mouseover)="onHover(city)"
                 (click)="onClick(city)"  [id]="city" [selected_city]="selected_city" [hover_city]="hover_city" [city]="city"
                [city_picture]="city_pictures[city]"></app-city-block>
            </div>
            <br />
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" #addressinput aria-describedby="address" 
                    placeholder="Enter an address to learn more" (input)="onSearchChanged($event)">
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-primary" type="button" (click)="onButtonClick()">Let's Go!</button>
                </div> 
            </form>
            <br />
            <div *ngIf="loading" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <h4 class="row d-flex justify-content-center" style="text-align: center">Crib helps you find suitable, safe neighbourhoods in Toronto and Waterloo</h4>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div style="margin-left: 1rem; margin-right: 1rem">
                            <h5><b>Local data, local insight</b></h5>
                            <img 
                            src="https://crib-assets.s3.us-west-2.amazonaws.com/tps.jpg"
                            style="width: 15rem; height: 10rem;"
                            >
                            <p  class="d-flex justify-content-center">
                                Crib pulls in the latest data from Toronto Police Service, City of Toronto and Waterloo Regional Police Service to provide insight on the best neighbourhoods in Toronto and Waterloo.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div style="margin-left: 1rem; margin-right: 1rem">
                            <h5><b>Compare at a glance</b></h5>
                            <img 
                            src="https://crib-assets.s3.us-west-2.amazonaws.com/cribscore.png"
                            style="width: 17rem; height: 7rem; margin-bottom: 1.5rem; margin-top: 1.5rem"
                            >
                            <p  class="d-flex justify-content-center">
                                Quickly compare properties in Toronto and Waterloo with CribCrime and CriBusiness scores, calculated by comparing metrics for a property against others in the area.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div style="margin-left: 1rem; margin-right: 1rem">
                            <h5><b>Explore at will</b></h5>
                            <img 
                            src="https://crib-assets.s3.us-west-2.amazonaws.com/heatmap.png"
                            style="width: 15rem; height: 10rem;"
                            >
                            <p  class="d-flex justify-content-center">
                                Explore the safety and amenties of neighbourhoods in Toronto and Waterloo with our interactive map visualization.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Popular Properties</h2>
            <table>
                <tr *ngFor="let listingRow of listingRows">
                    <td style="width:60vw" *ngFor="let listing of listingRow"><a href="#" (click)="onLinkClick(listing.id)">{{listing.name}}</a></td>
                </tr>
            </table>
            <!-- <ul style="list-style-type:none;">
                <li *ngFor="let listing of listingArray"><a href="#" (click)="onLinkClick(listing.id)">{{listing.name}}</a></li>
            </ul> -->
        </div>
    </div>

</div>
