<!-- <div class="card" style="width: 18rem;"> -->
    <div class="container">
        <img class="card-img-top" *ngIf="city == selected_city" style="width: 18rem; height: 10rem;" [src]="city_picture" alt="Card image cap">
        <img class="card-img-top" *ngIf="city != selected_city && city !=hover_city" style="width: 18rem; height: 10rem; opacity: 50%;" [src]="city_picture" alt="Card image cap">
        <img class="card-img-top" *ngIf="city != selected_city && city==hover_city" style="width: 18rem; height: 10rem; opacity: 80%;" [src]="city_picture" alt="Card image cap">
        <div class="centered"><h3><b>{{city}}</b></h3></div>
    </div>
<!-- </div> -->