<div class="col-9">
    <mgl-map stlye="height: 100%" [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[15]" [center]="center">
        <mgl-image id="marker" url="https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png"></mgl-image>
        <mgl-geojson-source id="oneline" [data]="geometry">
        </mgl-geojson-source>
        <mgl-layer #points id="points" type="symbol" source="oneline" [layout]="{
              'icon-image': 'marker'
              }" (layerClick)="onClick($event)">
        </mgl-layer>
        <app-map-popup *ngIf="selectedPoint" [point]="selectedPoint"></app-map-popup>
    </mgl-map>
</div>