<div *ngFor="let metricObj of viewMetrics" class="card m-1" style="width: 95%;">
    <div class="card-body">
        <div class="card-title" style="font-size: 1.5rem">
            <div *ngIf="metricObj['compare']">
                <span 
                *ngIf="metricObj['compare_value'] && metricObj['compare_value'] < 0"
                style="color: red">
                    &darr;
                </span>
                <span 
                *ngIf="metricObj['compare_value'] && metricObj['compare_value'] > 0"
                style="color: green">
                    &uarr;
                </span>
                <b>{{metricObj['value']}}</b> {{metricObj['name']}}
            </div>
            <div *ngIf="!metricObj['compare']">
                <b>{{metricObj['value']}}</b> {{metricObj['name']}}
            </div> 
        </div>
        
        <div *ngIf="metricObj['compare']" class="card-subtitle mb-2 text-muted" style="font-size: 1.25rem">
            {{metricObj['compare_value'] | abs}}%
            <span 
            *ngIf="metricObj['compare_value'] && metricObj['compare_value'] < 0">
                lower
            </span>
            <span 
            *ngIf="metricObj['compare_value'] && metricObj['compare_value'] > 0">
                higher
            </span>
            than {{metricObj['compare_name']}}
        </div>
    </div>
</div>
